<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Book{% endblock %}</title>
    <!-- Add your CSS and JavaScript links here -->
</head>
<body>{% block header %}
    <header>
        <nav>
            <ul>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'book_list' %}">Home</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    {% comment %} <li><a href="{% url 'login' %}">Login</a></li> {% endcomment %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endblock %}
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <footer>
        <!-- Add footer content here -->
    </footer>
</body>
</html>
